In [8]:
import pandas as pd
locations = [("NL10131",51.54052,5.85307),("NL10444",52.296556,4.510817),("NL10538",52.803657,5.050509),("NL10633",52.13795,4.83819),("NL10738",52.111621,5.708419),("NL10929",52.875725,6.932432)]
names = ["NL10131","NL10444","NL10538","NL10633","NL10738","NL10929"]

#list(zip(locations, names))
df = pd.DataFrame(locations, columns=["name","lng","lat"])

In [9]:
df

      name        lng       lat
0  NL10131  51.540520  5.853070
1  NL10444  52.296556  4.510817
2  NL10538  52.803657  5.050509
3  NL10633  52.137950  4.838190
4  NL10738  52.111621  5.708419
5  NL10929  52.875725  6.932432

In [10]:
df.to_csv("NH3_stations.csv")